* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

form {
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main {
  width: 60%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
}

.title {
  background-color: #3f51b5ff;
  color: white;
  width: 100%;
  padding: 0.5em;
}

.subtitle {
  width: 60%;
  max-width: 800px;
}

.MuiPaper-root {
  height: 100%;
}

.MuiFormControl-root {
  height: 40px;
}
